{% extends "itasset/layout.html" %}

{% block title %}
<title>Assets</title>
{% endblock %} 

<!-- script block -->
{% block scripts %}
<script>
	function binSelectFilter(){
		$('.filters').change(function(){
			$('#filterform').submit();
		})
	}

	// Function for record click
	function trclick(a){
		document.location = a.getAttribute('uid');
		// window.open(a.getAttribute('uid'));
	}
	
	$(function(){
		binSelectFilter();		
		$('#maintable').DataTable( {
			dom: '<"row"<"col-3"B><"col-6 text-center"i><"col-3"f>>rt<"row"<"col-6"l><"col-6"p>>',
    		paging: true,
			// scrollY: 400,	
			stateSave: true,
			Responsive:true,
			select: {
				style: 'single'
			},	
			'buttons': [
						{  
                        extend: 'excelHtml5',  
                        text: 'Export',
						className:'btn btn-light',                                                  
                       	},
						{  
                        extend: 'colvis',  
                        text: 'Columns',
						className:'btn btn-light',                                                  
                       	},

			]
		} );
		// $('tr[data-href]').on("dblclick", function() {
		// 	document.location = $(this).data('href');
		// 	// window.open($(this).data('href'));
		// });			
	})
	
</script>
{% endblock %}

<!-- main body block -->
{% block mainbody %}


<!-- Asset table -->
<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col">
				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active">Asset list</li>
					</ol>
				</nav>
			</div>	
			<!-- <div class="col-1"><a href="add" class="btn btn-primary btn-sm">Add</a></div>	 -->
		</div>
		<!-- Filter Area -->
		<form method="get" id="filterform">				
			<div class="row">							
				{% for field in form %}
				<div class="col">
					{{ field }} 
				</div>					
				{% endfor %}
			</div>
		</form>	
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<!-- <table class="display table-hover " id="maintable" style="width:100%">	 -->
			<table class="table table-hover table-sm" id="maintable">	
				<thead class="table-light">
					<tr>
						<th>Asset_Name</th>
						<th>Company</th>
						<th>Category</th>
						<th>Model</th>
						<th>SN</th>	
						<th>User_Name</th>
						<th>User_Account</th>
						<th>Asset_Status</th>		
						<th>Create_By</th>		
						<th>Create_Time</th>		
						<th>Price</th>				
						<th>Initial_OS</th>
						<th>OS</th>
						<th>Office</th>
						<th>CPU</th>
						<th>memory</th>
						<th>HDD</th>
						<th>Purchase_Date</th>							
						<th>Vendor</th>
						<th>Comment</th>				
					</tr>
				</thead>	
			
				<tbody id="assetbody">	
					{% for i in asset_list %}
					<tr uid="/itasset/asset/detail?pk={{i.id}}" ondblclick="trclick(this)">
						<td>{{ i.name }}</td>	
						<td>{{ i.company }}</td>
						<td>{{ i.category }}</td>
						<td>{{ i.model }}</td>
						<td>{{ i.sn }}</td>
						<td>{{ i.user.name }}</td>
						<td>{{ i.user.account }}</td>
						<td>{{ i.status.name }}</td>
						<td>{{ i.create_by }}</td>
						<td>{{ i.create_time|date:"Y-m-d" }}</td>
						<td>{{ i.price }}</td>				
						<td>{{ i.initial_os }}</td>
						<td>{{ i.os }}</td>
						<td>{{ i.office }}</td>
						<td>{{ i.cpu}}</td>
						<td>{{ i.memory }}</td>
						<td>{{ i.hdd }}</td>
						<td>{{ i.purchase_date|date:"Y-m-d" }}</td>								
						<td>{{ i.vendor|default:'-' }}</td>
						<td>{{ i.comment|default:'-' }}</td>							
					</tr>
									
				{% endfor %}

				</tbody>	
			</table>
		</div>
	</div>
</div>
{% endblock %}