{% extends "document\layout.html" %}

{% block title %}
<title>Document Search</title>
{% endblock %}  

<!-- script block -->
{% block scripts %}
<script>
		
	function binSelectFilter(){
			$('.filters').change(function(){
				$('#filterform').submit();
			})
		}

	function CopyPath(a){
		keyTxt = a.getAttribute('uid')
		toastLiveExample = document.getElementById('copy_toast');
		const toast = new bootstrap.Toast(toastLiveExample);	
		// alert(keyTxt)
		if (!navigator.clipboard) {
			alert('Copy functionality not supported');
			} else {
				try {
				navigator.clipboard.writeText(keyTxt);			
				$('#copy_body').text(keyTxt);
				toast.show();

			} catch (err) {
				alert(err)
			}
		}
	}
			
	
	$(function(){		
		$('#maintable').DataTable( {
			dom: '<"row"<"col-4"B><"col-4"i><"col-4"f>>rt<"row"<"col-6"l><"col-6"p>>',
    		// paging: false,
			// scrollY: 400,
			order: [[1,'desc']],	
			// stateSave: true,		
			'buttons': [
						{  
                        extend: 'excelHtml5',  
                        text: 'Export excel',
						className:'btn btn-light',                                                  
                       	}  
			]
		} );
		binSelectFilter();
		
	})
	
</script>
{% endblock %}

<!-- main body block -->
{% block mainbody %}

<!-- Table area -->
<div class="card">
	<div class="card-header text-center">
		<div class="row">
			<nav style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/document">Home</a></li>
					<li class="breadcrumb-item"><a href="/document/documentFilter">Document filter</a></li>
					<li class="breadcrumb-item"><a href="/document/customsearch">Custom search</a></li>
					<li class="breadcrumb-item active">Document search</li>
					<li class="breadcrumb-item">
						<a class="breadcrumb-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						  Reports
						</a>
						<ul class="dropdown-menu">
						  <li><a class="dropdown-item" href="/document/report?reportname=document_duplicate">Duplicate document name</a></li>                              
						  <li><a class="dropdown-item" href="/document/report?reportname=folder_summary">Folder Summary</a></li>                
						</ul>
					  </li>
				</ol>
			</nav>
		</div>	
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-hover table-sm" id="maintable">
				<thead class="table-light">
					<tr>
						{% for i in tableHead %}
						<th>{{ i }}</th>
						{% endfor %}				
					</tr>
				</thead>
				<tbody>
				{% for item in tableBody %}
					<tr>	
						<td>
							<a href="file:///{{item.2}}\{{item.0}}">{{item.0}}</a>
							<input type="button" value="Copy" uid="{{item.2}}\{{item.0}}" class="btn btn-light btn-sm" onclick="CopyPath(this)">					
						</td>
						<td>{{item.1|date:"Y-m-d"}} {{item.1|time}}</td>
						<td>					
							<a href="file:///{{item.2}}">{{item.2}}</a>
							<input type="button" value="Copy" uid="{{item.2}}" class="btn btn-light btn-sm" onclick="CopyPath(this)">
						</td>
					</tr>					
				{% endfor %}
				</tbody>

			</table>
		</div>
	</div>
</div>

</div>
{% endblock %}